[alias]
   	lg = !git --no-pager log --color --graph --max-count=1000 --pretty=format:'%h -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -- | /usr/bin/vim --not-a-term -R -c 'set foldmethod=syntax filetype=git nowrap | nnoremap q :q!<cr>' -c 'AnsiEsc' -
   	lg2 = !git --no-pager log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -- | less
	log2 = !git --no-pager log | /usr/bin/vim --not-a-term -R -c 'set foldmethod=syntax filetype=git nowrap | nnoremap q :q!<cr>' -c 'AnsiEsc' -
	#lg2 = !git log --graph --pretty=format:'%h - %d %s (%cr) <%an>' | nvim -R -c 'set hidden nowrap keywordprg=:enew | nnoremap q :q!<cr>' -
	g = !git grep --break --heading --line-number
	rb = !git pull --rebase=merges
	ri = rebase -i --autosquash
	rbi = rebase -i --autosquash
	reste = reset
	shwo = show
	rh = reset HEAD^ --hard
	rs = reset HEAD^
	rscan =!git rs && git can
	rc = rebase --continue
        cherryc = cherry-pick --continue
	cp = cherry-pick
	ca = commit -a --amend
	can = commit -a --amend --no-edit
	cm = commit -a -m
	cf = commit -a --fixup
	df = !git diff HEAD^ HEAD
	dft = !git difftool --dir-diff HEAD^ HEAD
	dftool = difftool --dir-diff
	ct = !git checkout --theirs
	wp = worktree prune
	jstest = !./tests/pre_build/test_chroot_js.sh
        hash = !git-hash
	h = !git-hash
	rev= rev-list --pretty=fuller
[user]
	name = Kai Guo
	email = kguo@fortinet.com
[core]
	editor = vim
	commitGraph = true
	#https://salferrarello.com/using-vim-view-git-commits/
    ; pager = "vim --not-a-term -R -c 'set foldmethod=syntax filetype=git nowrap | nnoremap q :q!<cr>' -c 'AnsiEsc' -"
    pager = delta

[merge]
	tool = nvimdiff4
    prompt = false
    conflictstyle = diff3

[mergetool "nvimdiff4"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGE -c '$wincmd w' -c 'wincmd J'

[mergetool]
	# don't ask if we want to skip merge
	prompt = false
	
	# don't create backup *.orig files
	keepBackup = false

[remote "origin"]
	tagopt = --tags
[grep]
	extendRegexp = true
	lineNumber = true
[diff]
	tool = nvimdiff
	algorithm = patience
    colorMoved = default

#[difftool]
# 	cmd = meld --auto-merge \"$LOCAL\" \"$REMOTE\" --label \"DIFF (ORIGINAL MY)\" --dir-diff
#         prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[log]
	abbrevCommit = true
[rerere]
	enabled = true
[gui]
	editor = code
[cola]
	blameviewer = git gui blame
[safe]
	directory = /home/kguo/build/fos/fos
[gc]
	writeCommitGraph = true
[sequence]
	editor = interactive-rebase-tool
[interactive-rebase-tool]
	inputMoveUp = k
	inputMoveDown = j
    inputMoveSelectionDown = Control+j
	inputMoveSelectionUp = Control+k

[pull]
	rebase = true

[interactive]
        diffFilter = delta --color-only

#[difftool "nvimdiff"]
#        cmd = nvim -d \"$LCOAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"

[include]
    path = /home/kguo/.local/share/catppuccin-delta/themes/mocha.gitconfig

[delta]
    features = catppuccin-mocha
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    #side-by-side = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
