[alias]
   	lg = !git log --color --graph --max-count=1000 --pretty=format:'%h -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
   	lg2 = !git --no-pager log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -- | less
	#lg2 = !git log --graph --pretty=format:'%h - %d %s (%cr) <%an>' | nvim -R -c 'set hidden nowrap keywordprg=:enew | nnoremap q :q!<cr>' -
	g = !git grep --break --heading --line-number
	rb = !git pull --rebase=merges
	ri = rebase -i --autosquash
	rbi = rebase -i --autosquash
	reste = reset
	shwo = show
	rh = reset HEAD^ --hard
	rs = reset HEAD^
	rscan =!git rs && git can
	rc = rebase --continue
        cherryc = cherry-pick --continue
	cp = cherry-pick
	ca = commit -a --amend
	can = commit -a --amend --no-edit
	cm = commit -a -m
	cf = commit -a --fixup
	df = !git diff HEAD^ HEAD
	dft = !git difftool --dir-diff HEAD^ HEAD
	dftool = difftool --dir-diff
	ct = !git checkout --theirs
	wp = worktree prune
	jstest = !./tests/pre_build/test_chroot_js.sh
        hash = !git-hash
	h = !git-hash
	rev= rev-list --pretty=fuller
[user]
	name = Kai Guo
	email = kguo@fortinet.com
[core]
	editor = nvim
	commitGraph = true
	#https://salferrarello.com/using-vim-view-git-commits/
    pager = "vim --not-a-term -R -c 'set foldmethod=syntax filetype=git nowrap | nnoremap q :q!<cr>' -c 'AnsiEsc' -"
    #pager = delta

[merge]
	tool = nvimdiff4
    prompt = false
    conflictstyle = diff3

[mergetool "nvimdiff4"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGE -c '$wincmd w' -c 'wincmd J'

[mergetool]
	# don't ask if we want to skip merge
	prompt = false
	
	# don't create backup *.orig files
	keepBackup = false

[remote "origin"]
	tagopt = --tags
[grep]
	extendRegexp = true
	lineNumber = true
[diff]
	tool = nvimdiff
	algorithm = patience
    colorMoved = default

#[difftool]
# 	cmd = meld --auto-merge \"$LOCAL\" \"$REMOTE\" --label \"DIFF (ORIGINAL MY)\" --dir-diff
#         prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[log]
	abbrevCommit = true
[rerere]
	enabled = true
[gui]
	editor = code

[color "blame"]
        highlightRecent = 234, 23 month ago, 235, 22 month ago, 236, 21 month ago, 237, 20 month ago, 238, 19 month ago, 239, 18 month ago, 240, 17 month ago, 241, 16 month ago, 242, 15 month ago, 243, 14 month ago, 244, 13 month ago, 245, 12 month ago, 246, 11 month ago, 247, 10 month ago, 248, 9 month ago, 249, 8 month ago, 250, 7 month ago, 251, 6 month ago, 252, 5 month ago, 253, 4 month ago, 254, 3 month ago, 231, 2 month ago, 230, 1 month ago, 229, 3 weeks ago, 228, 2 weeks ago, 227, 1 week ago, 226
[blame]
        coloring = highlightRecent
            date = human

[safe]
	directory = /home/kguo/build/fos/fos
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gc]
	writeCommitGraph = true
[sequence]
	editor = interactive-rebase-tool
[interactive-rebase-tool]
	inputMoveUp = k
	inputMoveDown = j
    inputMoveSelectionDown = Control+j
	inputMoveSelectionUp = Control+k

[pull]
	rebase = true

[interactive]
        diffFilter = delta --color-only

#[difftool "nvimdiff"]
#        cmd = nvim -d \"$LCOAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"

[include]
    path = /home/kguo/.local/share/catppuccin-delta/themes/mocha.gitconfig

[delta]
    features = catppuccin-mocha
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    #side-by-side = true

