[alias]
   	lg = !git log --color --graph --max-count=1000 --pretty=format:'%h -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
   	lg2 = !git --no-pager log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -- | less
	#lg2 = !git log --graph --pretty=format:'%h - %d %s (%cr) <%an>' | nvim -R -c 'set hidden nowrap keywordprg=:enew | nnoremap q :q!<cr>' -
	g = !git grep --break --heading --line-number
	rb = !git pull --rebase=merges
	ri = rebase -i --autosquash
	rbi = rebase -i --autosquash
	reste = reset
	shwo = show
	rh = reset HEAD^ --hard
	rs = reset HEAD^
	rscan =!git rs && git can
	rc = rebase --continue
        cherryc = cherry-pick --continue
	cp = cherry-pick
	ca = commit -a --amend
	can = commit -a --amend --no-edit
	cm = commit -a -m
	cf = commit -a --fixup
	df = !git diff HEAD^ HEAD
	dft = !git difftool --dir-diff HEAD^ HEAD
	dftool = difftool --dir-diff
	ct = !git checkout --theirs
	wp = worktree prune
	jstest = !./tests/pre_build/test_chroot_js.sh
        hash = !git-hash
	h = !git-hash
	rev= rev-list --pretty=fuller
[user]
	name = Kai Guo
	email = kguo@fortinet.com
[core]
	editor = vim
	commitGraph = true
	#https://salferrarello.com/using-vim-view-git-commits/
        pager = "vim --not-a-term -R -c 'set foldmethod=syntax filetype=git nowrap | nnoremap q :q!<cr>' -c 'AnsiEsc' -"
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output \"$MERGED\" --label \"MERGE (REMOTE BASE MY)\"
	trustExitCode = false
[mergetool]
	# don't ask if we want to skip merge
	prompt = false
	
	# don't create backup *.orig files
	keepBackup = false

[remote "origin"]
	tagopt = --tags
[grep]
	extendRegexp = true
	lineNumber = true
[diff]
	tool = meld
	algorithm = patience
[difftool]
	cmd = meld --auto-merge \"$LOCAL\" \"$REMOTE\" --label \"DIFF (ORIGINAL MY)\" --dir-diff
        prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[log]
	abbrevCommit = true
[rerere]
	enabled = true
[gui]
	editor = code
[cola]
	blameviewer = git gui blame
[safe]
	directory = /home/kguo/build/fos/fos
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gc]
	writeCommitGraph = true
[sequence]
	editor = interactive-rebase-tool
[interactive-rebase-tool]
	inputMoveUp = k
	inputMoveDown = j
	inputMoveSelectionDown = J
	inputMoveSelectionUp = K

